# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

g_key

'AIzaSyAZFmgDKYmGys-JxsPzJJPCA0JmYgK6hdQ'

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_data = pd.read_csv("../output_data/cities.csv")
cities_data

,City,City.1,Country,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hermanus,ZA,-34.42,19.23,289.26,77,1,3.80
1,1,Port macquarie,AU,-31.43,152.92,296.15,88,78,2.60
2,2,Khatanga,RU,71.97,102.50,260.38,94,95,2.40
3,3,Broken hill,AU,-31.95,141.43,298.15,36,1,4.10
4,4,Mataura,NZ,-46.19,168.86,288.71,80,8,2.24
...,...,...,...,...,...,...,...,...,...
557,557,Sorland,NO,67.67,12.69,271.15,79,40,1.50
558,558,Khartoum,SD,15.55,32.53,302.15,11,2,7.70
559,559,Bay roberts,CA,47.60,-53.26,272.59,100,90,11.30
560,560,Pierre,US,44.37,-100.35,277.59,60,1,4.10
561,561,Vryburg,ZA,-26.96,24.73,292.74,45,67,3.26

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
# Configure gmaps with API key
gmaps.configure(api_key = g_key)

In [9]:
# Convert 'Lat' and 'Lng' and Humidity to float and Store 

# Make sure to handle NaN values

cities_data = cities_data.dropna()

locations = cities_data[["Latitude", "Longitude"]].astype(float)

Humidities = cities_data["Humidity"].astype(float)

In [10]:
# Create a poverty Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, 
                                 weights = Humidities, 
                                 dissipating=False, 
                                 max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map